---
import Head from '../components/Head.astro';
import Nav from '../layouts/Nav.svelte';
import Footer from '../layouts/Footer.svelte';
import Main from '../layouts/Main.svelte';
import KakarotTxDiagram from '../components/KakarotTxDiagram.svelte';
import KakarotAbstract from '../components/KakarotAbstract.svelte';

const title = 'Learn more about Kakarot zkEVM';
const description =
    'Kakarot zkEVM enables teams to build & deploy EVM apps, and benefit from a dual advantage: the same developer experience (toolchain, libraries) and having their end-users use the same tools as Ethereum (metamask, wallet connect, etc.).';
---

<html lang='en'>
    <Head {title} {description} />
    <body class='m-0 p-0'>
        <Nav />
        <Main>
            <div
                class='flex flex-col gap-4 md:gap-12 items-start justify-center'
            >
                <h1
                    class='text-2xl md:text-4xl lg:text-5xl px-4 md:px-6 lg:px-8'
                >
                    Understanding <a
                        class='text-accent underline'
                        href='https://github.com/kkrt-labs/kakarot'
                        target='_blank'
                        rel='noopener noreferrer'>Kakarot</a
                    >
                </h1>
                <KakarotAbstract />
                <KakarotTxDiagram />
            </div>
        </Main>
        <Footer />
    </body>
</html>
