---
import Head from '../components/Head.astro';
import Nav from '../layouts/Nav.svelte';
import Footer from '../layouts/Footer.svelte';

const title = 'Learn more about Kakarot zkEVM';
const description =
    'Kakarot zkEVM enables teams to build & deploy EVM apps, and benefit from a dual advantage: the same developer experience (toolchain, libraries) and having their end-users use the same tools as Ethereum (metamask, wallet connect, etc.).';
---

<html lang='en'>
    <Head {title} {description} />
    <body class='m-0 p-0'>
        <Nav />
        <main>
            <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
            <p class='instructions'>
                To get started, open the directory <code>src/pages</code> in your
                project.<br />
                <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
                above.
            </p>
        </main>
        <Footer />
    </body>
</html>
