---
import Head from '../components/Head.astro';
import Nav from '../layouts/Nav.svelte';
import Footer from '../layouts/Footer.svelte';
import Hero from '../components/Hero.svelte';
import Cards from '../components/Cards.svelte';
import Main from '../layouts/Main.svelte';

const title = 'Welcome to Kakarot zkEVM';
const description =
	'Kakarot zkEVM is bringing Ethereum to the Starknet ecosystem. Developers can deploy any Solidity (or EVM code) on Kakarot, as they would on Ethereum or Polygon. Their end-users are then able to interact with dApps with their usual toolchain (Metamask, Wallet connect, etc.).';
---

<html lang='en'>
	<Head {title} {description} />
	<body class='m-0 p-0'>
		<Nav />
		<Main>
			<Hero />
			<Cards />
		</Main>
		<Footer />
	</body>
</html>
