---
import Head from '../components/Head.svelte';
import Nav from '../components/Nav.svelte';
---

<html lang='en'>
	<Head title='Welcome to Kakarot zkEVM' />
	<body class='m-0 p-0'>
		<Nav />
		<main>
			<h1>Welcome to <span class='text-gradient'>Astro</span></h1>
			<p class='instructions'>
				To get started, open the directory <code>src/pages</code> in your
				project.<br />
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
				above.
			</p>
		</main>
	</body>
</html>
